[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
cython = "*"
joblib = "*"
deap = "*"
update-checker = "*"
tqdm = "*"
stopit = "*"
xgboost = "*"
dask = {extras = ["dataframe"], version = "*"}
dask-ml = "*"
fsspec = ">=0.3.3"
tpot = "*"

[requires]
python_version = "3.7"
